<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Chest X-Rays</div>
    <p>
      Use images of chest X-rays to detect signs of pneumonia.  
    </p>
	<p>
		The data uses X-rays which depict clear lungs without any areas of abnormal opacification in the image, 
		compared with X-rays with bacterical and viral pneumonia. Because of this the machine learning algorithm may struggle with images which show no pneumonia but do show other chest issues.
	</p>
	<p>
	This neural network was created by Andrew Willacy, using the fast.ai library.
	</p>
	<p>
	Sensitivity: 0.88 // Specificity: 1.0 // Precision: 1.0
	</p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
	  <p>
	  About the data:
	  <br><br>
		Chest X-ray images (anterior-posterior) were selected from retrospective cohorts of pediatric patients of one 
		to five years old from Guangzhou Women and Children’s Medical Center, Guangzhou. 
		<br><br>
		Dataset collected from Kaggle, provided my Paul Mooney: <a href="http://www.cell.com/cell/fulltext/S0092-8674(18)30154-5">http://www.cell.com/cell/fulltext/S0092-8674(18)30154-5</a>
	</p>
    </div>
  </div>
</div>
</body>
</html>
